# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# OS-specific
.DS_Store

# Env files
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
