<link rel="stylesheet" type="text/css" href="css/login.css">
<div class="left">
    <div class="logo">
        <img src="images/logov2.png" alt="Quackmatch logo" >
    </div>
    <h1>Welcome back!</h1>
    <p class="subheading">Please login to your account</p>
    {{#if error}}
        <div class="error-box">
            {{error}}
        </div>
    {{/if}}
    <form method="POST" action="/login">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="jabber@gmail.com">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <div class="row">
            <label><input type="checkbox"> Remember me</label>
            <a href="#">Forgot password?</a>
        </div>

        <button name="submit" class="btn">Login to QuackMatch →</button>
    </form>
    <div class="footer-link">
        Don’t have an account yet? <a href="/register">Create a QuackMatch account</a>
    </div>
</div>

<div class="right">
    <img class="illustration" src="images/banner.png" alt="Illustration">
    <div class="contact">
        Got questions? <a href="tel:">Contact US</a>
    </div>
</div>
